.login{
    min-width: 320px;
    width: 358px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    flex-direction: column;
    height: 100vh;
}
.login__welcome{
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}
.login__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__input{
    border: 2px solid rgba(204, 204, 204, 1);
    border-style: none none solid none;
    background-color: #000000;
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-bottom: 30px;
    color: #CCCCCC;
    width: 100%;
}
.login__button-container{
    margin: 0;
    margin-top: 186px;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
    margin-bottom: 80px;
}
.login__link{
    height: 100%;
    width: 100%;
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}