@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__edit-container/profile__edit-container.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/profile/__flex/profile__flex.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements-grid/elements-grid.css);
@import url(./blocks/elements-grid/__item/elements-grid__item.css);
@import url(./blocks/elements-grid/__image/elements-grid__image.css);
@import url(./blocks/elements-grid/__title/elements-grid__title.css);
@import url(./blocks/elements-grid/__like/elements-grid__like.css);
@import url(./blocks/elements-grid/__like/_active/elements-grid__like_active.css);
@import url(./blocks/elements-grid/__delete/elements-grid__delete.css);
@import url(./blocks/elements-grid/__delete/_active/elements-grid__delete_active.css);
@import url(./blocks/elements-grid/__text/elements-grid__text.css);
@import url(./blocks/elements-grid/__img-container/elements-grid__img-container.css);
@import url(./blocks/elements-grid/__like-container/elements-grid__like-container.css);
@import url(./blocks/elements-grid/__like-number/elements-grid__like-number.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_add.css);
@import url(./blocks/popup/_type/popup_type_edit.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_type/popup_type_avatar.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__link/popup__link.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__container/_type/popup__container_type_image.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__container/form__container.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/_type/form_type_avatar.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/_text/form__input_text_subtitle.css);
@import url(./blocks/form/__input/_text/form__input_text_title.css);
@import url(./blocks/form/__input/_text/form__input_text_link.css);
@import url(./blocks/form/__input/_text/form__input_text_name.css);
@import url(./blocks/form/__input/_invalid/form__input_invalid.css);
@import url(./blocks/form/__button/_invalid/form__button_invalid.css);
@import url(./blocks/error/error.css);
@import url(./blocks/card-list/card-list.css);

